@model paystation_two_party.Models.Payment

@{
    ViewData["Title"] = "Create payment";
}

<h1>Create payment</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">Card number</label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpiry" class="control-label">Card expiry</label>
                <input asp-for="CardExpiry" class="form-control" />
                <span asp-validation-for="CardExpiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
